
.solid-heading {
    font-family: verdana; 
    font-weight: bold; 
    
}
.price-head {
    font-family: Arial, sans-serif; 

}

#quantity {
    margin-right: 10px;
    margin-bottom: 10px; 
}


.buy-btn {
    padding: 10px 10px; 
    font-size: 16px;
    background-color: #049f47; /* Button background color */
    color: #fff; /* Button text color */
    border: 2px solid black; /* Remove default button border */
    border-radius: 5px; /* Add border radius */
}

footer {
    margin-top: 250px; /* Adjust the value as needed */
}

.add-to-cart {
    margin-top:20px;
}

.star_ratings {
    padding-left: 40px; 
    padding-right: 15px; 
}
.user_ratings {
    padding-left: 40px; 
    padding-right: 15px; 
}


