/* remove any default padding and margins to avoid 
any issues that are impossible to debug later; make this universal*/

/* For clarity, use of tailwind utilities were chosen against here 
so that the css was more easier to read and could be applied 
universally as is the case here :) */

/* default padding and border arithemetic is like so: 
    - width = width + padding + border
    - height = height + padding + border
    border-box removes this for easier arithmetic and modifications when needed */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    background-color: rgb(207, 204, 204);
}

body,
html {
    font-family: "Roboto", sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
}

body {
    /* change the background to default to light mode */
    background-color: rgb(207, 204, 204);
    display: flex;
}

#myBagCardId {
    background-color: rgb(155, 152, 152);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    max-height: 100%; /*Set a fixed height for the container/*

    /*
    Use overflow-auto to add scrollbars to an element in the event that its content 
    overflows the bounds of that element. Unlike overflow-scroll, which always shows 
    scrollbars, this utility will only show them if scrolling is necessary.*/

    overflow-y: auto; /* ennabele vertical scrolling */
}

.itemList {
    list-style: none;
    padding: 10px;
    border: black;
    border-style: solid;
}

.productItem {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

#blackLine {
    border: 1px solid black;
    background-color: black;
    height: 2px;
}

.productImage {
    height: 100px;
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}

.productInfo {
    flex: 1;
}

.pName,
.pQuantity,
.pPrice {
    margin-bottom: 10px;
}

.quantityDropdown {
    margin-right: 10px;
    background-color: white;
}

.removeButton {
    width: 25%;
}

.subTotal {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;
}

/* delivery section styling */

#deliveryCardId {
    background-color: rgb(155, 152, 152);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    width: 313px;
    height: 160px;
}

.deliveryForm label {
    display: block;
}

.deliveryForm input[type="radio"] {
    background-color: white;
}


#totalCardId {
    background-color: rgb(155, 152, 152);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 0px;
    width: fit-content;
    height: fit-content;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    width: fit-content;
    height: fit-content;
}

#promoCodeInput {
    background-color: white;
}

.totalInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}




