body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.signin-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
    margin-top: 180px;
    margin-bottom: 30px;
}

.signin-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.signin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signin-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signin-form .show-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.signin-form .show-password-wrapper input[type="checkbox"] {
    margin-left: 10px;
}